/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* varialbes */
:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-copyright: 'Poppins', sans-serif;
  --ff-footer: 'Inter', sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --clr-bg: #ffffff;
}

/* global styles */
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-bg);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.usual-title {
  font-size: 40px;
  font-weight: var(--fw-bold);
  text-align: center;
  color: #2b2b2b;
}
.usual-desc {
  font-size: 18px;
  font-weight: var(--fw-regular);
  line-height: 38px;
  text-align: center;
  color: #2b2b2b;
  margin-top: 16px;
}

/* mobile global */
@media only screen and (max-width: 500px) {
  .usual-title {
    font-size: 18px;
  }
  .usual-desc {
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;
  }
}

/* main styles */
/* navbar */
.desktop-nav {
  width: 100%;
  height: 100px;
  padding: 60px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-item {
  font-weight: var(--fw-semi-bold);
  font-size: 16px;
  color: #2b2b2b;
  display: inline-block;
  position: relative;
}
.nav-item::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1.2px;
  bottom: -6px;
  left: 20%;
  background-color: #1d51b5;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
}
.nav-item:hover::after {
  color: #1d51b5;
  transform: scaleX(1.2);
}
.nav-item:hover {
  color: #3968c6;
}
.nav-btn {
  width: 120px;
  height: 40px;
  padding: 8px 30px;
  border: 1px solid #1d51b5;
  box-shadow: 0px 0px 40px -4px rgba(0, 0, 0, 0.05);
  border-radius: 1.53451e7px;
  cursor: pointer;
}
.nav-btn-text {
  font-size: 14px;
  font-weight: var(--fw-semi-bold);
  text-align: center;
}
.hamburger-icon {
  cursor: pointer;
}
.mobile-nav {
  display: none;
}
.hamburger-nav {
  display: none;
}
/* navbar classes */
/* .fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-bg);
  box-shadow: 0px 0px 40px -4px rgba(0, 0, 0, 0.05);
} */

/* mobile nav */
@media only screen and (max-width: 750px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    width: 100%;
    height: 100px;
    padding: 60px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
  }
  .hamburger-icon {
    z-index: 8;
  }
  .hamburger-icon.active {
    transform: scale(1.1);
  }
  .hamburger-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.8s ease-in-out;
  }
  .hamburger-nav.show {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transform: translateX(0%);
    z-index: 4;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .hamburger-menu .nav-item {
    font-size: 20px;
  }
  .logo {
    height: 28px;
    width: 28.157381057739258px;
  }
  .nav-btn {
    width: 85px;
    height: 35px;
    padding: 10px;
  }
  .nav-btn-text {
    font-size: 10px;
  }
}

/* hero section */
.spiral-one {
  position: absolute;
  left: 0%;
  top: 111%;
  transition: all 0.8s ease-in-out;
}
.desktop-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 120px 0px 120px;
}
.tablet-hero {
  display: none;
}
.mobile-hero {
  display: none;
}
.hero-title {
  font-weight: var(--fw-bold);
  font-size: 38.3834px;
  line-height: 53px;
  color: #2b2b2b;
}
.custom-title {
  color: #3968c6;
}
.hero-desc {
  font-weight: var(--fw-regular);
  font-size: 20px;
  line-height: 26px;
  color: #656565;
  margin-top: 24px;
}
.hero-btn {
  padding: 19px;
  width: 208px;
  height: 60px;
  background: #3968c6;
  box-shadow: 0px 0px 40px -4px rgba(0, 0, 0, 0.05);
  border-radius: 514123px;
  cursor: pointer;
  margin-top: 35px;
}
.btn-text {
  font-size: 16px;
  font-weight: var(--fw-bold);
  text-align: center;
  color: #ffffff;
}

/* tablet hero */
@media only screen and (max-width: 1440px) {
  .desktop-hero {
    display: none;
  }
  .tablet-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
  }
  .spiral-one {
    position: absolute;
    left: 0%;
    top: 111%;
    width: 150px;
    height: 300px;
    transition: all 0.4s ease-in-out;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero-title {
    text-align: center;
    margin-top: 35px;
  }
}

/* mobile hero */
@media only screen and (max-width: 500px) {
  .desktop-hero {
    display: none;
  }
  .tablet-hero {
    display: none;
  }
  .mobile-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px 35px 0px 35px;
  }
  .spiral-one {
    position: absolute;
    left: 0%;
    top: 45%;
    width: 152.72131141711805px;
    height: 151.86768899210568px;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero-title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #2b2b2b;
    margin-top: 25px;
  }
  .hero-desc {
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #656565;
    margin-top: 12px;
  }
  .hero-btn {
    width: 139.04762268066406px;
    height: 40px;
    border-radius: 254209.796875px;
    padding: 11px;
    margin-top: 24px;
  }
  .btn-text {
    font-size: 12px;
    font-weight: var(--fw-bold);
    text-align: center;
    color: #ffffff;
  }
  .hero-image {
    max-width: 100%;
    height: auto;
  }
}

/* about us section */
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 239px 453px 0px 453px;
}
.spiral-two {
  position: absolute;
  right: 0%;
  top: 75%;
}
.about-btn {
  padding: 15px 45px;
  text-align: center;
  color: #2b2b2b !important;
  white-space: nowrap;
  border: 1px solid #eaedf1;
  border-radius: 1.53451e7px;
  cursor: pointer;
  margin-top: 35px;
}

/* tablet about */
@media only screen and (max-width: 1440px) {
  .about {
    padding: 239px 50px 0px 50px;
  }
  .spiral-two {
    position: absolute;
    right: 0%;
    top: 100%;
    width: 150px;
    height: 300px;
    transition: all 0.4s ease-in-out;
  }
}

/* mobile about */
@media only screen and (max-width: 500px) {
  .about {
    padding: 150px 35px 0px 35px;
  }
  .spiral-two {
    position: absolute;
    right: 0%;
    top: 85%;
    width: 152.72131141711805px;
    height: 151.86768899210568px;
  }
  .about-btn {
    padding: 11px 40px;
    margin-top: 35px;
  }
}

/* services section */
.services {
  padding: 160px 366px 0px 366px;
}
.services-ctn {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, min-content));
  justify-content: center;
  gap: 80px 300px;
  margin-top: 70px;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-title {
  font-size: 18px;
  font-weight: var(--fw-semi-bold);
  margin-top: 21px;
}
.service-desc {
  font-size: 16px;
  font-weight: var(--fw-regular);
  text-align: center;
  line-height: 24px;
  margin-top: 8px;
}
.service-btn {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: var(--fw-semi-bold);
  text-align: center;
  color: #858e9d;
  white-space: nowrap;
  border: 1px solid #eaedf1;
  border-radius: 1.53451e7px;
  cursor: pointer;
  margin-top: 30px;
}

/* services tablet */
@media only screen and (max-width: 1440px) {
  .services {
    padding: 160px 50px 0px 50px;
  }
  .services-ctn {
    grid-template-columns: repeat(auto-fit, minmax(150px, min-content));
    margin-top: 70px;
  }
}

/* services mobile */
@media only screen and (max-width: 500px) {
  .services {
    padding: 150px 35px 0px 35px;
  }
  .services-ctn {
    grid-template-columns: repeat(auto-fit, minmax(150px, min-content));
    margin-top: 40px;
  }
  .service-desc {
    font-size: 12px;
  }
  .service-btn {
    padding: 8px 24px;
    margin-top: 24px;
  }
}

/* registration section */
.registration {
  position: relative;
  height: 806px;
  background: #fafafd;
  padding: 90px 453px 126px 463px;
  margin-top: 230px;
}
.spiral-three {
  position: absolute;
  left: 0%;
  bottom: 0%;
  opacity: 0.02;
}
.reg-desc {
  font-size: 20px;
  font-weight: var(--fw-regular);
  line-height: 26px;
  color: #2b2b2b;
  margin-top: 16px;
}
.reg-items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  margin-top: 42px;
}
.reg-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reg-group {
  display: flex;
  gap: 6px;
  cursor: pointer;
}
.reg-title {
  font-size: 18px;
  font-weight: var(--fw-semi-bold);
  color: #2b2b2b;
}
.reg-dropdown {
  cursor: pointer;
}
.pledge-title {
  font-size: 16px;
  font-weight: var(--fw-semi-bold);
  color: #3968c6;
  margin-top: 58px;
}
.pledge {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.pledge-checkbox {
  margin-top: 5px;
}
.pledge-content {
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: 22px;
  color: #2b2b2b;
}
.registration-btn {
  padding: 20px;
  background: #3968c6;
  box-shadow: 0px 1px 26px rgba(121, 167, 255, 0.45);
  border-radius: 2341px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  margin-top: 42px;
}

/* registration tablet */
@media only screen and (max-width: 1440px) {
  .registration {
    padding: 90px 35px 126px 35px;
    margin-top: 230px;
  }
  .spiral-three {
    position: absolute;
    left: 0%;
    bottom: -8%;
    opacity: 0.02;
    width: 150px;
    height: 300px;
  }
}

/* registration mobile */
@media only screen and (max-width: 500px) {
  .registration {
    height: 700px;
    background: #fafafd;
    padding: 90px 20px 126px 20px;
    margin-top: 150px;
  }
  .spiral-three {
    position: absolute;
    left: 0%;
    bottom: 0%;
    opacity: 0.02;
    width: 152.72131141711805px;
    height: 151.86768899210568px;
  }
  .reg-desc {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-top: 4px;
  }
  .reg-items {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;
  }
  .reg-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reg-group {
    display: flex;
    gap: 6px;
    cursor: pointer;
  }
  .reg-title {
    font-size: 16px;
  }
  .pledge-title {
    font-size: 16px;
    margin-top: 48px;
  }
  .pledge {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  .pledge-checkbox {
    margin-top: 5px;
  }
  .pledge-content {
    font-size: 12px;
    line-height: 22px;
  }
  .registration-btn {
    padding: 12px;
    font-size: 10px;
    margin-top: 32px;
  }
}

/* learn section */
.learn {
  padding: 230px 246px 0px 246px;
}
.learn-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, min-content));
  gap: 45px;
  justify-content: center;
  margin-top: 70px;
}
.learn-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding-bottom: 28px;
  width: 451px;
  background: #ffffff;
  box-shadow: 0px 11px 31px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.learn-title {
  margin: 0px 30px;
  font-size: 18px;
  font-weight: var(--fw-semi-bold);
  line-height: 28px;
  text-align: center;
  color: #2b2b2b;
}
.learn-btn {
  padding: 10px 20px;
  width: 150px;
  font-size: 16px;
  font-weight: var(--fw-semi-bold);
  text-align: center;
  color: #858e9d;
  white-space: nowrap;
  border: 1px solid #eaedf1;
  border-radius: 1.53451e7px;
  cursor: pointer;
}
.dots-holder {
  position: relative;
}
.orange-dots {
  position: absolute;
  left: 86%;
  top: -14%;
  z-index: -4;
}
.blue-dots {
  position: absolute;
  left: -11%;
  top: 83%;
  z-index: -4;
}

/* learn section extra */
.learn-play {
  position: relative;
  margin-top: 280px;
}
.play-blue {
  position: absolute;
  top: 0;
  left: 0;
}
.play-orange {
  position: absolute;
  top: 0;
  right: 0;
}
.play-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.play-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  height: 237px;
  width: 475px;
  border-radius: 4px 0px 0px 4px;
  margin-top: -92px;
}
.play-card::after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e182c;
  opacity: 0.61;
  z-index: 4;
}
.play-card > * {
  z-index: 8;
}
.play-title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  color: #ffffff;
  z-index: 100;
}
.play-icon {
  cursor: pointer;
}
.more-btn {
  margin: 40px auto 0px auto;
  padding: 11px 20px;
  width: 150px;
  font-size: 16px;
  font-weight: var(--fw-bold);
  text-align: center;
  color: #2b2b2b;
  white-space: nowrap;
  border: 1px solid #eaedf1;
  border-radius: 1.53451e7px;
  cursor: pointer;
}
.more-icon {
  margin-left: 8px;
}

/* tablet learn */
@media only screen and (max-width: 1440px) {
  .learn {
    padding: 230px 35px 0px 35px;
  }
  .learn-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(451px, min-content));
    gap: 45px;
    justify-content: center;
    margin-top: 70px;
  }

  /* learn section extra */
  .learn-play {
    position: relative;
    margin-top: 280px;
  }
  .play-blue {
    position: absolute;
    top: 0;
    left: 0;
  }
  .play-orange {
    position: absolute;
    top: 0;
    right: 0;
  }
  .play-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .play-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    height: 237px;
    width: 475px;
    border-radius: 4px 0px 0px 4px;
    margin-top: -92px;
  }
  .play-card::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e182c;
    opacity: 0.61;
    z-index: 4;
  }
  .play-card > * {
    z-index: 8;
  }
  .play-title {
    font-size: 20px;
    font-weight: var(--fw-bold);
    color: #ffffff;
    z-index: 100;
  }
  .play-icon {
    cursor: pointer;
  }
  .more-btn {
    margin: 40px auto 0px auto;
    padding: 11px 20px;
    width: 150px;
    font-size: 16px;
    font-weight: var(--fw-bold);
    text-align: center;
    color: #2b2b2b;
    white-space: nowrap;
    border: 1px solid #eaedf1;
    border-radius: 1.53451e7px;
    cursor: pointer;
  }
  .more-icon {
    margin-left: 8px;
  }
}

/* mobile learn */
@media only screen and (max-width: 500px) {
  .learn {
    padding: 100px 35px 0px 35px;
  }
  .learn-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, min-content));
    gap: 45px;
    justify-content: center;
    margin-top: 40px;
  }
  .learn-card {
    gap: 19px;
    width: 300px;
  }
  .learn-image {
    max-width: 100%;
    height: auto;
  }
  .learn-title {
    margin: 0px 30px;
    font-size: 14px;
    line-height: 18px;
  }
  .learn-btn {
    padding: 10px 20px;
    width: 130px;
    font-size: 12px;
  }

  /* learn section extra */
  .learn-play {
    position: relative;
    margin-top: 280px;
  }
  .play-blue {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
  }
  .play-orange {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
  }
  .play-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 220px;
  }
  .play-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    height: 237px;
    width: 300px;
    border-radius: 4px 0px 0px 4px;
    margin-top: -220px;
  }
  .play-card::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e182c;
    opacity: 0.61;
    z-index: 4;
  }
  .play-card > * {
    z-index: 8;
  }
  .play-title {
    font-size: 20px;
    font-weight: var(--fw-bold);
    color: #ffffff;
    z-index: 100;
  }
  .play-icon {
    cursor: pointer;
  }
  .more-btn {
    margin: 40px auto 0px auto;
    padding: 11px 20px;
    width: 150px;
    font-size: 16px;
    font-weight: var(--fw-bold);
    text-align: center;
    color: #2b2b2b;
    white-space: nowrap;
    border: 1px solid #eaedf1;
    border-radius: 1.53451e7px;
    cursor: pointer;
  }
  .more-icon {
    margin-left: 8px;
  }
}

/* defence section */
.defence {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafd;
  padding: 100px 162px 100px 162px;
  margin-top: 110px;
}
.defence-title {
  position: relative;
}
.defence-logo {
  position: absolute;
  top: -40px;
  left: 20px;
  opacity: 0.06;
}
.defence-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-top: 66px;
}
.defence-item {
  display: flex;
  gap: 15px;
}
.defence-desc {
  font-size: 20px;
  font-weight: var(--fw-regular);
  line-height: 28px;
  color: #2b2b2b;
}

/* defence tablet */
@media only screen and (max-width: 1440px) {
  .defence {
    background: #fafafd;
    padding: 100px 35px 100px 35px;
  }
  .defence-title {
    position: relative;
  }
  .defence-logo {
    position: absolute;
    top: -40px;
    left: 20px;
    opacity: 0.06;
  }
  .defence-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-top: 66px;
  }
  .defence-item {
    display: flex;
    gap: 15px;
  }
  .defence-desc {
    font-size: 20px;
    font-weight: var(--fw-regular);
    line-height: 28px;
    color: #2b2b2b;
  }
}

/* defence mobile */
@media only screen and (max-width: 500px) {
  .defence {
    background: #fafafd;
    padding: 100px 35px 100px 35px;
    margin-top: 100px;
  }
  .defence-title {
    position: relative;
  }
  .defence-logo {
    position: absolute;
    top: -35px;
    left: 1px;
    opacity: 0.06;
    max-width: 100%;
    height: auto;
  }
  .defence-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 60px;
  }
  .defence-desc {
    font-size: 12px;
    line-height: 19px;
  }
}

/* blogs section */
.blogs {
  padding: 138px 120px 230px 120px;
}
.blog-ctn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 76px;
  margin-top: 70px;
}
.blog-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}
.blog-category {
  padding: 8px 15px;
  background: rgba(57, 104, 198, 0.06);
  border-radius: 4px;
  font-size: 14px;
  font-weight: var(--fw-semi-bold);
  color: #3968c6;
}
.blog-title {
  font-size: 32px;
  font-weight: var(--fw-bold);
  color: #2b2b2b;
}
.blog-desc {
  font-size: 18px;
  font-weight: var(--fw-regular);
  color: #858e9d;
}
.blog-writer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.writer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1px;
}
.writer-name {
  font-size: 14px;
  font-weight: var(--fw-semi-bold);
  color: #2b2b2b;
}
.writing-time {
  font-size: 14px;
  font-weight: var(--fw-regular);
  color: #858e9d;
}
.blog-more {
  margin: 16px 0px 0px 0px !important;
}

/* tablet blogs */
@media only screen and (max-width: 1440px) {
  .blogs {
    padding: 138px 120px 230px 120px;
  }
  .blog-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 76px;
    margin-top: 70px;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .blog-title {
    text-align: center;
  }
  .blog-desc {
    text-align: center;
  }
  .blog-writer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .writer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }
}

/* mobile blogs */
@media only screen and (max-width: 500px) {
  .blogs {
    padding: 120px 35px 160px 35px;
  }
  .blog-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 76px;
    margin-top: 40px;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: -48px;
  }
  .blog-category {
    font-size: 12px;
  }
  .blog-title {
    font-size: 16px;
    line-height: 28px;
  }
  .blog-desc {
    font-size: 12px;
    line-height: 28px;
  }
  .blog-writer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .writer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }
  .writing-time {
    font-size: 12px;
  }
}

/* footer section */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 129px 114px 129px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 55px;
}
.social-icon {
  transition: fill 0.1s ease-in-out;
}
.social-icon:hover,
.social-icon:focus {
  fill: #3968c6;
  cursor: pointer;
}
.desktop-footer-copyright {
  margin-top: 40px;
}
.copyright-content {
  font-family: var(--ff-copyright);
  font-size: 14px;
  font-weight: var(--fw-regular);
  text-align: center;
  color: #2b2b2b;
}
.mobile-footer-copyright {
  display: none;
}
.desktop-footer-links {
  display: flex;
  gap: 100px;
}
.mobile-footer-links {
  display: none;
}
.footer-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-category {
  font-family: var(--ff-footer);
  font-size: 18px;
  font-weight: var(--fw-semi-bold);
  color: #2b2b2b;
  white-space: nowrap;
}
.footer-item {
  font-family: var(--ff-footer);
  font-size: 14px;
  font-weight: var(--fw-regular);
  color: #9e9e9e;
  white-space: nowrap;
}

/* tablet footer */
@media only screen and (max-width: 1000px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 129px 114px 129px;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 55px;
  }
  .desktop-footer-links {
    display: flex;
    gap: 100px;
    margin-top: 50px;
  }
  .mobile-footer-links {
    display: none;
  }
}

/* mobile footer */
@media only screen and (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 35px 114px 35px;
  }
  .footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 46px;
  }
  .copyright-content {
    font-family: var(--ff-copyright);
    font-size: 14px;
    font-weight: var(--fw-regular);
    text-align: center;
    color: #2b2b2b;
  }
  .desktop-footer-links {
    display: none;
  }
  .mobile-footer-links {
    display: flex;
    text-align: center;
    margin-top: 63px;
  }
  .footer-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer-category {
    font-size: 18px;
  }
  .footer-item {
    font-size: 16px;
  }
  .desktop-footer-copyright {
    display: none;
  }
  .mobile-footer-copyright {
    display: inline-block;
    font-size: 14px;
    margin-top: 102px;
  }
}
